@import{
    "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
}
/* Reset Defaults */
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #0C356A;
    
}
/* Page Nav Begins */
#header{
    display: flex;
    width: 100%;
    padding: 20px, 10%;
    position: fixed;
    top:0;
    left: 0;
    justify-content: space-between;
    align-items: center;
}
#navbar{
    display:flex;
    flex-grow: 1;
    height: 22px;
}
#navbar a{
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #ffc436;
    text-transform: uppercase;
    flex-grow:1;
    text-align: center;
    flex-shrink: 0;
}
#navbar a:hover{
    background-color: #ffc436;
    color: #0c356a
}
/* Nav Bar Ends */
